@import url('https://fonts.googleapis.com/css2?family=Almendra:ital@1&family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins&display=swap');

@import "tailwindcss";

@theme {
  --font-josefin: "Josefin Sans", "sans-serif"; 
}
@theme {
  --font-Poppins: "Poppins", "sans-serif"; 
}
@theme {
  --font-caveat: "Caveat", "sans-serif"; 
}